* {
    padding: 0;
    margin: 0;

    font-family: Helvetica, serif;

    /* Prevent padding from changing size of elements*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    /* Debug only */
    /*outline: 1px solid red;*/
}


header {
    height: 118px;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /*background-image: url("img/gradient-header.png");*/
    background: linear-gradient(to bottom, #ffffff, #e1e1e1);
    /*TODO background gradient header*/
    background-color: #e5e5e5;
}
a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #545454;
}

nav {
    height: 100%;
    float: right;
    display: inline;
    margin-right: 150px;
}

#logo {
    display: inline;
    margin-top: 36px;
    margin-left: 151px;
}

.nav__ul {
    height: inherit;
    display: flex;
    list-style-type: none;
}

.nav__li {
    width: 109px;
    flex-direction: column;
    display:flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.nav__li:hover {
    border-bottom: 5px solid #ff7d00;
    background: #d1caca linear-gradient(to bottom, #ffffff, #cbc2c2);
}

.nav__li:last-child {
    border-right: none;
}

/*When should current active nav__li be highlighted?*/
/*.nav__li-active {*/
/*    border-bottom: 5px solid #ff7d00;*/
/*    background-color: #d1caca;*/
/*    background: linear-gradient(to bottom, #ffffff, #cbc2c2);*/
/*}*/

.header__icon {
    margin-bottom: 11px;
}


h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #565555;
}


form {
    /*width: 678px;*/
    width: 100%;
    min-width: 900px;
    max-width: 1280px;

    padding-left: 175px;
    padding-right: 175px;
    margin: 25px auto 0;

    display: flex;
    justify-content: flex-end;
}

.button--upload {
    width: 206px;
    margin-left: 13px;
    background: linear-gradient(to bottom, #ffa400, #ff6700);
    border: none;
    opacity: 1;
    float: right;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.button--upload:focus {
    outline: none;
}
.button--upload:hover {
    cursor: pointer;
}
.button--upload:active {
    /*background: linear-gradient(to top, #ffa400, #ff6700);*/
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.button--upload, .upload { /* also input field */
    height: 46px;
    border-radius: 5px;
}

#choose-file {
    display: none;
}

.upload {
    border: 1px solid #cacaca;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    vertical-align: center;

    box-shadow: inset 0 3px 3px #e2dada;
}

.filename {
    flex: 1;
    padding-left: 8px;
    display: flex;
    align-items: center;
    color: #979393;
}

.button--choose {
    background-color: #c1bfbf;
    color: white;
    font-size: 18px;

    border: none;
    border-radius: 5px;

    width: 93px;
    height: 33px;
    margin-top: 6px;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

}


main {
    margin: 0 auto;
    /*width: 1024px;*/
    padding-right: 145px;
    padding-left: 145px;
}


footer {
    margin: 0 auto 50px;
    text-align: right;
    padding-right: 155px;

    font-family: IcedEarth, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: #8b8a8a;
}



#gallery {
    margin-top: 73px;
    margin-bottom: 54px;
    text-align: center;
}

.card {
    display: inline-flex;
    flex-direction: column;

    width: 217px;
    height: 279px;

    border: 1px solid #d6d6d6;
    box-shadow: 0 0 3px #a9a9a9;

    margin-right: 36px;
    margin-bottom: 28px;
    background-image: url("img/card-background.png");

    padding: 6px;
    color: #979393;
}

.wrapper__card__img {
    width: 203px;
    height: 197px;

    background: url('img/placeholder.png') no-repeat center #000;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card__img {
    max-width: 100%;
    height: auto;
}
.card__icon--scale {
    opacity: 0;
}
.card__icon--scale:hover {
    opacity: 0.6;
}

.card__main {
    font-size: 15px;
    font-weight: 500;
    height: 36px;

    padding: 9px 3px 6px 8px;
}

.card__main__header {
    display: inline;
}

.card__icon--star {
    float: right;
    margin-top: -2px;
}

.card__hr {
    background-color: #e0dfdf;
    border: none;
    height: 2px;
}

.card__footer {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-align: right;
    font-size: 14px;

    /*background: linear-gradient(to bottom, #ffffff, #e8e8e8);*/
}

.card__icon--social {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    margin-top: 2px;
    background-size: 100% 100%;
}
.card__icon--twitter {
    margin-left: 12px;
    background-image: url("img/icon-social-twitter.png");
}
.card__icon--twitter:hover {
    background-image: url("img/icon-social-twitter-active.png");
}
.card__icon--facebook {
    background-image: url("img/icon-social-facebook.png");
}
.card__icon--facebook:hover {
    background-image: url("img/icon-social-facebook-active.png");
}
.card__icon--pinterest {
    background-image: url("img/icon-social-pinterest.png");
}
.card__icon--pinterest:hover {
    background-image: url("img/icon-social-pinterest-active.png");
}
.card__icon--tumblr {
    margin-right: 2px;
    background-image: url("img/icon-social-tumblr.png");
}
.card__icon--tumblr:hover {
    background-image: url("img/icon-social-tumblr-active.png");
}
